@model TaskManager.ViewModels.TaskFormViewModel
@* @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers *@

@using(Html.BeginForm(Model.Action, "Tasks", FormMethod.Post, new {id = Model.FormId}))
{
  @Html.AntiForgeryToken() // generates an anti-forgery token to prevent cross-site request forgery attacks

  @Html.HiddenFor(model => model.Task.Id)

  <div class="form-group">
    @Html.LabelFor(model => model.Task.Title, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.Task.Title, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Task.Title, "", new { @class = "text-danger" })
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Task.Description, htmlAttributes: new { @class = "control-label" })
    @Html.TextAreaFor(model => model.Task.Description, new { @class = "form-control", oninput = "updateCounter(this)"})
    @{
      var descriptionLength = Model.Task.Description?.Length ?? 0;
      var descriptionValidationMessage = $"{descriptionLength}/500";
    }
    @Html.ValidationMessageFor(model => model.Task.Description, descriptionValidationMessage)
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Task.DueDate, htmlAttributes: new { @class = "control-label" })
    @Html.TextBoxFor(model => model.Task.DueDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date"})
    @Html.ValidationMessageFor(model => model.Task.DueDate, "", new { @class = "text-danger" })
  </div>

  <div class="form-group me-2">
    <input type="submit" value="Create" class="btn btn-primary" />
  </div>
}

<script>
  // $.validator.addMethod("futuredate", function (value, element) {
  //   var today = new Date();
  //   today.setHours(0, 0, 0, 0); // Set the time to 00:00:00
  //   var inputDate = new Date(value);

  //   return this.optional(element) || inputDate >= today;
  // }, "");

  // $.validator.unobtrusive.adapters.addBool("futuredate");
</script>

@* <form id="@Model.FormId" 
      asp-action="@Model.Action"
      asp-controller="Tasks" 
      method="post">

  <input asp-for="@Model.Task.Id" 
         class="taskFormTitle" 
         type="hidden">

  <div class="form-group">
    <label asp-for="Task.Title">Title</label>
    <input asp-for="Task.Title" 
           type="text" 
           class="form-control"  
           oninput="validateTitle(this)"
           name="Task.Title" 
           maxlength="50"
           required>
    <span asp-validation-for="Task.Title" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="Task.Description">Description</label>
    <textarea asp-for="Task.Description"
              class="description form-control"
              oninput="updateCounter(this)"
              maxlength="500"
              name="Task.Description">
    </textarea>
    <span>@(Model.Task.Description?.Length ?? 0)/500</span>
  </div>

  <div class="form-group mb-4">
    <label asp-for="Task.DueDate">Due Date</label>
    <input asp-for="Task.DueDate" 
           type="date" 
           class="form-control"
           oninput="validateDueDate(this)"
           name="Task.DueDate" 
           required>
    <span asp-validation-for="Task.DueDate" class="text-danger"></span>
  </div>

  <button type="submit" 
          class="btn btn-primary"
          aria-label="@Model.ButtonText">
          @Model.ButtonText
  </button>
</form> *@
