@model TaskManager.ViewModels.TaskFormViewModel

<form id="@Model.FormId" 
      asp-action="@Model.Action"
      asp-controller="Tasks" 
      method="post">

  <input asp-for="@Model.Task.Id" 
         class="taskFormTitle" 
         type="hidden">

  <div class="form-group">
    <label asp-for="Task.Title">Title</label>
    <input asp-for="Task.Title" 
           type="text" 
           class="form-control"  
           oninput="validateTitle(this)"
           name="Task.Title" 
           maxlength="50"
           required>
    <span class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="Task.Description">Description</label>
    <textarea asp-for="Task.Description"
              class="description form-control"
              oninput="updateCounter(this)"
              maxlength="500"
              name="Task.Description">
    </textarea>
    <span>@(Model.Task.Description?.Length ?? 0)/500</span>
  </div>

  <div class="form-group mb-4">
    <label asp-for="Task.DueDate">Due Date</label>
    <input asp-for="Task.DueDate" 
           type="date" 
           class="form-control"
           oninput="validateDueDate(this)"
           name="Task.DueDate" 
           required>
    <span class="text-danger"></span>
  </div>

  <button type="submit" 
          class="btn btn-primary"
          aria-label="@Model.ButtonText">
          @Model.ButtonText
  </button>
</form>




