@{
	Layout = "_Layout";
	ViewData["Title"] = "Task Detail";
}

@model TaskManager.Models.UserTask

<h2>@Model.Title</h2>

<p>Is completed: @Model.IsCompleted</p>

<p>@Model.Description</p>

<div>
	<button class="btn btn-ghost" onclick=openEditModal(@Model.Id)>Edit</button> |
	<a class="btn btn-ghost" href="@Url.Action("Index", "Tasks")">Back to List</a>
</div>

<div id="editModalContainer"></div>

<script src="~/js/tasks/details.js"></script>
