@{
	Layout = "_Layout";
	ViewData["Title"] = "Task Detail";
}

@model TaskManager.Models.UserTask

<div>
	<h2>@Model.Title</h2>
	<p>Is completed: @Model.IsCompleted</p>
</div>

<div>
	<p>@Model.Description</p>
</div>
<div>
	<button class="btn" 
					onclick=window.modals.openEditModal(@Model.Id)
					aria-label="Edit">
					Edit
	</button> 
	|
	<button class="btn @(Model.IsCompleted ? "disabled" : "")"
					onclick=window.modals.openCompleteConfirmationModal(@Model.Id)
				  aria-label="Complete Task">
					Complete
	</button>
	|
	<a class="btn" 
		 href="@Url.Action("Index", "Tasks")">
		 Back to List
	</a>
</div>

<div id="editModalContainer"></div>

@await Html.PartialAsync("_ConfirmationModal")

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script src="~/js/tasks/details.js"></script>
	<script src="~/js/shared/taskForm.js"></script>
}


