@{
	Layout = "_Layout";
	ViewData["Title"] = "Task Detail";
}

@model TaskManager.Models.UserTask

<h2>@Model.Title</h2>

<p>Is completed: @Model.IsCompleted</p>

<p>@Model.Description</p>

<div>
	<button class="btn btn-ghost" 
					onclick=window.modals.openEditModal(@Model.Id)
					aria-label="Edit">
					Edit
	</button> |
	<a class="btn btn-ghost" 
		 href="@Url.Action("Index", "Tasks")">
		 Back to List
	</a>
</div>

<div id="editModalContainer"></div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script src="~/js/tasks/details.js"></script>
	<script src="~/js/shared/taskForm.js"></script>
}


