@{
  Layout = "_Layout";
  ViewData["Title"] = "Tasks";
}

@model IEnumerable<TaskManager.Models.UserTask>

<h2>Tasks</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Is Completed</th>
      <th>Due Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var task in Model)
    {
      <tr>
        <td>@task.Title</td>
        <td>@task.Description</td>
        <td>@task.IsCompleted</td>
        <td>@task.DueDate.ToString("yyyy-MM-dd")</td>
        <td>
          <button 
            onclick="openCompleteConfirmationModal(@task.Id)"
            class="btn btn-success"
          >
            Complete
          </button>

          <button 
            onclick="openEditModal(@task.Id)"
            class="btn btn-primary"
          >
            Edit
          </button>

          <button 
            onclick="openDeleteConfirmationModal(@task.Id)"
            class="btn btn-danger"
          >
            Delete
          </button>
          
        </td>
      </tr>
    }
  </tbody>
</table>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTaskModal">
  Create New Task
</button>

<!-- Create Modal  -->
@await Html.PartialAsync("_CreateTaskModal")

<!-- Edit Modal -->
<div id="editModalContainer"></div>

<!-- Confirmation Modal -->
@await Html.PartialAsync("_ConfirmationModal")


<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/tasks/index.js"></script>